<!DOCTYPE html>
<html lang="en">

<%- include('./head') %>

<body>
    <%- include('./nav') %>
    
    <div class="container">
        <h1>Quản lý người dùng</h1>
        <div class="row">
            <div class="col">
                Người dùng
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Email</th>
                            <th scope="col">Xác thực email</th>
                            <th scope="col">Tên hiển thị</th>
                            <th scope="col">Ảnh đại diện</th>
                            <th scope="col">Vô hiệu hoá</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <th scope="row">
                                <a href="/admin/manage-user/<%= user.id %>"><%= user.id %></a>
                            </th>
                            <td><%= user.email %></td>
                            <td>
                                <% if (user.emailVerified) { %>
                                    <i class="fa fa-check-circle-o" style="color: green;"></i>
                                <% } else { %>
                                    <i class="fa fa-times-circle-o" style="color: red;"></i>
                                <% } %>
                            </td>
                            <td><%= user.displayName %></td>
                            <td>
                                <% if (user.photoURL) { %>
                                <img src="<%= user.photoURL %>" alt="" width="50" height="50">
                                <% } else { %>
                                <span>default</span>
                                <% } %>
                            </td>
                            <td>
                                <% if (user.disabled) { %>
                                    Có
                                <% } else { %>
                                    Không
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>

<script>
    
</script>

</html>