<!DOCTYPE html>
<html lang="en">

<%- include('./head') %>

<body>
    <%- include('./nav') %>
    
    <div class="container">
        <h1>Quản lý câu hỏi</h1>
        <div class="row">
            <div class="col">
                <a href="/admin/add-question" class="btn btn-info">
                    Thêm câu hỏi
                </a>
                <a href="/admin/group-question" class="btn btn-info">
                    Bộ câu hỏi
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <td>id</td>
                        <td>text</td>
                        <td>img</td>
                        <td>video</td>
                    </thead>
                    <% questions.forEach(question => { %>
                        <tr>
                            <td>
                                <a href="/admin/manage-question/<%= question.id %>">
                                    <%= question.id %>
                                </a>
                            </td>
                            <td><%= question.data.text %></td>
                            <td>
                                <% question.data.images.forEach((image=>{ %>
                                    <img src="<%= image %>" alt="" style="max-width: 200px;" class="img-thumbnail">
                                <% })); %>
                            </td>
                            <td>
                                <% question.data.ytVideoIds.forEach((id=>{ %>
                                    <div><%= id %></div>
                                <% })); %>
                            </td>
                        </tr>
                    <% }); %>

                </table>
            </div>
        </div>
    </div>
</body>

<script>
    
</script>

</html>