<!DOCTYPE html>
<html lang="en">

<%- include('./head') %>

<body>
    <%- include('./nav') %>
    
    <div class="container">
        <h1>Quản lý người dùng</h1>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">ID</div>
                        </div>
                        <input type="text" class="form-control" id="id" value="<%=req.query.id%>">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Email</div>
                        </div>
                        <input type="email" class="form-control" id="email" value="<%=req.query.email%>">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Tên</div>
                        </div>
                        <input type="text" class="form-control" id="name" value="<%=req.query.name%>">
                    </div>
                    <a href="javascript:void(0);" class="btn btn-info" onclick="searchUser()">Tìm kiếm</a>
                    <a href="/admin/manage-user" class="btn btn-danger">Xoá bộ lọc</a>

                </div>
            </div>
        </div>
        

        <div class="row mt-5">
            <div class="col">                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Email</th>
                            <th scope="col">Xác thực email</th>
                            <th scope="col">Tên hiển thị</th>
                            <th scope="col">Ảnh đại diện</th>
                            <th scope="col">Vô hiệu hoá</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <th scope="row">
                                <a href="/admin/manage-user/<%= user.id %>"><%= user.id %></a>
                            </th>
                            <td><%= user.email %></td>
                            <td>
                                <% if (user.emailVerified) { %>
                                    <i class="fa fa-check-circle-o" style="color: green;"></i>
                                <% } else { %>
                                    <i class="fa fa-times-circle-o" style="color: red;"></i>
                                <% } %>
                            </td>
                            <td><%= user.displayName %></td>
                            <td>
                                <% if (user.photoURL) { %>
                                <img src="<%= user.photoURL %>" alt="" width="50" height="50">
                                <% } else { %>
                                <span>default</span>
                                <% } %>
                            </td>
                            <td>
                                <% if (user.disabled) { %>
                                    Có
                                <% } else { %>
                                    Không
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>

<script>
    function searchUser() {
        const id = document.getElementById("id").value;
        const email = document.getElementById("email").value;
        const name = document.getElementById("name").value;

        let url = '/admin/manage-user?';

        if (id != "") {
            url += "id=" + id;
        }

        if (email != "") {
            url += "&email=" + email;
        }

        if (name != "") {
            url += "&name=" + name;
        }

        window.location = url;
    }
</script>

</html>