<!doctype html>
<html lang="en">

    <%- include('../part/head') %>

    <body>
        <%- include('../part/nav') %>
            <div id="background"></div>
            <div class="container">
                <div class="row">
                    <h1 class="text-center">Chọn cấp độ</h1>
                </div>
                <div class="row">
                    <div class="col col-6 col-xs-12 text-center">
                        <h2>Thường</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda temporibus impedit, obcaecati libero reiciendis similique voluptatem deleniti itaque odit voluptate magnam! Corporis, quidem. Deserunt repellendus nesciunt harum iure odio unde.</p>
                        <a href="/play/normal/<%=current.normal%>" class="fantasy-btn">Chơi</a>
                    </div>
                    <div class="col col-6 col-xs-12 text-center">
                        <h2>Khó</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis voluptates nulla voluptate fugiat, veniam expedita nihil beatae repudiandae libero consequatur architecto pariatur quaerat a culpa nostrum voluptatibus vel minima ipsa?</p>
                        <a href="/play/hard/<%=current.hard%>" class="fantasy-btn">Chơi</a>
                    </div>
                </div>
            </div>
    </body>

<%- include('../part/foot') %>

</html>