<!doctype html>
<html lang="en">

    <%- include('../part/head') %>

    <body>
        <%- include('../part/nav') %>
        <%- include('../part/alert') %>
            <div id="background"></div>
            <div class="container main-container">
                <!-- Nav -->
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-row text-center">
                        <div>
                            <% if (id - 1 >= 0) { %>
                            <a href="./<%=id-1%>">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                            <% } else { %> 
                            <div>
                                <i class="fa fa-chevron-left fa-chevron-disabled"></i>
                            </div>
                            <% } %>
                        </div>
    
                        <div style="width: 250px;">
                            <h2>Câu hỏi <%= id + 1 %> / <%= numQuestion %> </h2>
                        </div>
    
                        <div>
                            <% if (id + 1 < numQuestion) { %>
                            <a href="./<%=id + 1%>">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                            <% } else { %> 
                            <div>
                                <i class="fa fa-chevron-right fa-chevron-disabled"></i>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                
                <!-- Body -->
                <div>
                    <% if (type === 'show-answer' || type === 'show-question') { %> 
                    <p><%= question.text %></p>
                    <% } else if (type === 'request-payment') { %>
                    <p>Bạn cần thanh toán (1 lần duy nhất) để xem những câu hỏi tiếp theo</p>
                    <a href="/payment">Đến trang thanh toán</a>
                    <% } else { %>
                    <p><%= message %></p>
                    <% } %>
                </div>
                
                <!-- Images -->
                <% if (type === 'show-answer' || type === 'show-question') { %> 
                <div class="text-center">
                    <% question.images.forEach(image => { %>
                        <img src="<%= image %>" alt="image" data-action="zoom" class="img-thumbnail">
                    <% }); %>
                </div>
                <div class="text-center">
                    <% question.ytVideoIds.forEach(id => { %>
                        <iframe width="560" height="315" src="<%=`https://www.youtube.com/embed/${id}`%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <% }); %>
                </div>
                <% } %>

                <p></p>

                <!-- Answer form -->
                <% if (type === 'show-answer') { %> 
                    <h1 class="text-center">Bạn đã trả lời đúng câu hỏi này</h1>
                    <div class="form-group">
                        <textarea id="answer" class="form-control" rows="3" placeholder="Nhập câu trả lời của bạn" disabled><%= question.answer %></textarea>
                    </div>
                <% } else if (type === 'show-question') { %>
                    <h1 class="text-center">Trả lời</h1>
                    <div class="form-group">
                        <textarea id="answer" class="form-control" rows="3" placeholder="Nhập câu trả lời của bạn"></textarea>
                    </div>
                    <p></p>
                    <div class="text-center">
                        <a href="javascript:void(0);" class="fantasy-btn" onclick="sendAnswer()">Xác nhận</a>
                    </div>
                <% } %>


            </div>
    </body>

<%- include('../part/foot') %>

<% if (type==='show-question') { %> 
<script>
    function sendAnswer() {
        var userAnswer = document.getElementById("answer").value;

        if (userAnswer === "") {
            showAlert("Vui lòng nhập câu trả lời");
            return;
        }

        fetch('/answer', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                "CSRF-Token": Cookies.get("XSRF-TOKEN"),
            },
            body: JSON.stringify({
                questionId: `<%= questionId %>`,
                userAnswer
            })
        }).then(resp => resp.json())
        .then(data => {
            if (data.code === "CORRECT") {
                window.location.reload();
            } else if (data.code === "WRONG") {
                showAlert("Câu trả lời không đúng");
            }
        });
    }
</script>
<% }  %>

</html>