<%- include('../part/head') %>

<!doctype html>
<html lang="en">

    <%- include('../part/head') %>

    <body>
        <%- include('../part/nav') %>
            <div id="background"></div>
            <div class="container">
                <h3>Vui lòng xác thực email để có thể tiếp tục</h3>
                <p>Email: <%= user.email %></p>
                <a href="/checkemail" class="fantasy-btn">Xác thực email</a>
            </div>
    </body>

<%- include('../part/foot') %>

<script>

</script>

</html>